<body>
  <nav>
    <a href="/todos">Home</a>
  </nav>
  <h1>Welcome to my todo list!</h1>
  <h2>Built using NodeJS and Mongoose</h2>
  <a href="/todoForm">Add Todo</a>
  <ul>
    <% if(todos.length > 0) { %>
      <% todos.map(todo => { %>
        <li>
          <p class="title"><%= todo.title %></p>
          <p class="description"><%= todo.description%></p>
        </li>
      <% }) %>
      <% } else { %>
        <p>No Todos</p>
    <% } %>
  </ul>
</body>