<body>
  <nav>
    <a href="/todos">Back to List</a>
  </nav>
  <form action="/todos" method="post">
    <label for="title">Title</label>
    <input 
      type="text" 
      placeholder="Todo Title"
      name="Lunch"
      id="title"
    >
    <br>
    <label for="description">Description</label>
    <input 
      type="text"
      name="description"
      id="description"
      placeholder="Lunch at so and so..."
    >
    <br>
    <label for="completed">completed</label>
    <input 
      type="checkbox"
    >
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
