<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/todos">Back to List</a>
  </nav>
  <form action="/todo-edit/<%= todo._id %>" method="post">
    <h3>Update Your Todo!</h3>
    <label for="title">Title</label>
    <input 
      type="text" 
      placeholder="Todo Title"
      name="title"
      id="title"
      value="<%= todo.title %>"
    >
    <br>
    <label for="description">Description</label>
    <input 
      type="text"
      name="description"
      id="description"
      placeholder="Lunch at so and so..."
      value="<%= todo.description"
    >
    <br>
    <span>
      <label for="completed">Completed?</label>
      <input 
        type="checkbox"
        name="isCompleted"
        id="isCompleted"
      >
    </span>
    <br>
    <button class="add-button" type="submit">Submit</button>
  </form>
</body>
